<div class="content-section">
  <!-- Left Column: FAQ Section -->
  <div class="faq">
    {% capture included_content %}
    {% include faq.md %}
    {% endcapture %}
    {{ included_content | markdownify }} 
  </div>

  <!-- Right Column: Social Media Widget -->
  <div class="widget">
    <h2>Follow Us on Mastodon</h2>
    <br>
    <iframe allowfullscreen sandbox="allow-top-navigation allow-scripts allow-popups allow-popups-to-escape-sandbox" width="auto" height="800" src="https://mastofeed.com/apiv2/feed?userurl=https%3A%2F%2Finfosec.exchange%2Fusers%2FHasSignalBeenHacked&theme=light&size=100&header=true&replies=false&boosts=false"></iframe>
    <br>
    <p>
      Please consider donating to Signal! The Signal app is a nonprofit and relies on your support. <a href="https://signal.org/donate/">Donate Here.</a> 
    </p>
    <br>
    <p>
      Also consider buying us a coffee with the button below. But you should support the Signal app first.
    </p>
    <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="hassignalbeenhacked" data-color="#FFDD00" data-emoji="" data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff"></script>
    <!-- Add your social media widget code here -->
  </div>
</div>