  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="{{ site.favicon }}" >
    <a rel="me" href="https://infosec.exchange/@HasSignalBeenHacked"></a>
    <!-- Open Graph Meta Tags-->
    <meta property="og:title" content="Has Signal Been Hacked?" />
    <meta property="og:description" content="Probably Not." />
    <meta property="og:url" content="https://hassignalbeenhacked.info" />
    <meta property="og:image" content="https://hassignalbeenhacked.info/assets/images/logo_meta.png" />
    <meta property="og:type" content="website"/>
    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Has Signal Been Hacked?" />
    <meta itemprop="description" content="Probably Not." />
    <meta itemprop="image" content="https://hassignalbeenhacked.info/assets/images/logo_meta.png" />
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://hassignalbeenhacked.info/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Has Signal Been Hacked?" />
    <meta property="og:description" content="Probably Not." />
    <meta property="og:image" content="https://hassignalbeenhacked.info/assets/images/logo_meta.png" />
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Has Signal Been Hacked?" />
    <meta name="twitter:description" content="Probably Not." />
    <meta name="twitter:image" content="https://hassignalbeenhacked.info/assets/images/logo_meta.png" />
    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
  </head>
    <div class="container">
      <body>
      {{content}}
      </body>
    </div>
  </html>