  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Has Signal Been Hacked?" />
    <meta property="og:description" content="Probably Not." />
    <meta property="og:url" content="https://hassignalbeenhacked.info" />
    <meta property="og:image" content="" />
    <meta property="og:type" content="website"/>
    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="{{ site.favicon }}" >
    <a rel="me" href="https://infosec.exchange/@HasSignalBeenHacked">Mastodon</a>
  </head>
    <div class="container">
      <body>
      {{content}}
      </body>
    </div>
  </html>